<% @page_title = @bubble.title %>

<% content_for :header do %>
  <nav>
    <%= link_to "#", class: "btn flex-item-justify-start", data: { controller: "back-navigation", back_navigation_fallback_destination_value: bubbles_path(bucket_id: @bubble.bucket) } do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Back</span>
    <% end %>
  </nav>
<% end %>

<div class="flex align-start justify-end">
  <%= turbo_frame_tag dom_id(@bubble, :stage_picker), src: new_bucket_bubble_stage_picker_path(@bubble.bucket, @bubble) %>
</div>

<div class="bubble__container">
  <div class="bubble__perma flex justify-center center margin-block-end-double">
    <%= render "bubbles/bubble", bubble: @bubble %>
  </div>

  <%= render "bubbles/messages", bubble: @bubble %>
</div>

<aside class="flex align-start justify-start" style="--bubble-color: <%= @bubble.color %>">
  <div class="flex flex-column gap-half">
    <%= bubble_action_button('new-color', 'art', 'Color it') %>
    <%= bubble_action_button('new-date', 'calendar-add', 'Add a due date') %>
    <%= bubble_action_button('new-tag', 'tag', 'Tag this') %>
    <%= bubble_action_button('new-assignee', 'person', 'Assign to…') %>
    <%= bubble_action_button('new-attachment', 'picture-add', 'Attach a file') %>
    <%= render "bubbles/pop_toggle", bubble: @bubble %>
  </div>
</aside>
